.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $space-nano $space-medium;
  background: $color-Ilustation-Secondary;
  box-sizing: border-box;
  &-pink {
    background-color: $color-Ilustration-Primary;
  }
}