.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $space-nano $space-medium;
  // margin-bottom: $space-medium;
  border: solid 2px #000;
  border-radius: 0 0 20px 20px;
  background: $color-Pink-degrade;
  box-sizing: border-box;
}