.serviceWay {
  padding: $space-medium;
  &-container {
    padding: $space-medium;
    @include container($color-Background-Container);
    & > h3 {
      margin-bottom: $space-small;
    }
  }
  .caption {
    margin-bottom: $space-small;
  }
  .button-blue {
    margin-top: $space-small;
  }
}