.babysitterMiniCard {
  display: inline-flex;
  align-items: center;
  padding: $space-small;
  border: $color-Black solid 1px;
  text-decoration: none;
  color: $color-Black;
  img {
    width: 80px;
    height: 80px;
    border: solid 1px $color-Black;
    border-radius: 100%;
    margin-right: $space-medium;
    object-fit: cover;
  }
  .babysitterMiniCard-info {
    h4 {
      margin-bottom: $space-nano;
      text-align: left;
    }
  }
}