.caption {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  &-imgContainer {
    @include picture(200px);
    margin-bottom: $space-small;
  }
  &-small {
    @extend .caption;
    .caption-imgContainer {
      @include picture(80px);
      margin-bottom: $space-nano;
    }
    h2 {
      font-size: 28px;
      text-decoration: none;
    }
  }
}