
.containerLanding{
  display:flex;
  width: 100%;
  height: calc(100vh - 106px);
  align-items: center;
  justify-content: center;
  position: absolute;
}

 .containerLanding img{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   size:100% ;
   z-index: 1;
}



.dialog-transparent {
  color: $color-Background;
  z-index: 2;
  position: relative;
  display: inline-block;
  height: fit-content;
  padding: $space-large;
  border: solid 1px $color-Black;
  border-radius: 40px;
  background-color: rgba($color: #c4c4c4, $alpha: 0.1);
  text-align: center;
  box-shadow: $value-shadow-Box;
  box-sizing: border-box;
  & h1 {
    margin-bottom: $space-medium;
  }
}