.imageInput {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  &-inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &-inputfile + label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 72px 35px;
    border-radius: 20px;
    color: $color-Black;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 28px;
    font-family: $font-Family-Overlock;
    @include container($color-Brown-Main);
  }
  &-preview {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }

}