.input {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  & label {
    margin-right: $space-micro;
    @include paragraph;
  }
  &::placeholder {
    padding: calc($space-micro - 5px);
    @include paragraph;
  }
  & input {
    width: 70%;
    padding: $space-micro;
    border: none;
    border-radius: 15px;
    background-color: $color-Brown-Main;
    box-shadow: $value-shadow-Box;
    box-sizing: content-box;
    outline: none;
    @include paragraph;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }
  &-alignedLeft {
    & label {
      width: 171px;
      text-align: left;
    }
    & input {
      width: 70%;
    }
  }
}