.popupUserType {
  display: inline-block;
  padding: $space-medium;
  border: solid 2px $color-Black;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: $color-Background-Container;
  h1 {
    margin-bottom: $space-extraLarge;
  }
}