.select {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  @include paragraph;
  & label {
    margin-right: $space-micro;
    text-align: left;
  }
  & select {
    width: 70%;
    padding: $space-micro;
    border: none;
    border-radius: 15px;
    background-color: $color-Brown-Main;
    box-shadow: $value-shadow-Box;
    outline: none;
    box-sizing: content-box;
    @include paragraph;
    option {
      width: 100%;
    }
  }
  &-alignedLeft {
    & label {
      width: 171px;
      text-align: left;
    }
    & select {
      width: 70%;
    }
  }
}