.select {
  display: flex;
  align-items: center;
  @include paragraph;
  & label {
    margin-right: $space-micro;
  }
  & select {
    padding: $space-micro;
    border: #000 solid 1px;
    border-radius: 15px;
    background-color: $color-Blue-Background;
    box-shadow: $value-shadow-Box;
    @include paragraph;
    outline: none;
  }
  &-alignedLeft {
    width: 527px;
    & label {
      width: 171px;
    }
    & select {
      width: 332px;
    }
  }
}