.service {
  padding: $space-small;
  @include containerBrownLight;
  h2 {
    margin-bottom: $space-small;
  }
  hr {
    margin-bottom: #{$space-small * 2};
  }
  &-info {
    display: inline-flex;
    margin-bottom: $space-small;
    h4:not(:last-child) {
      margin-right: $space-extraLarge;
    }
  }
  h3 {
    color: $color-Ilustration-Primary;
    margin-bottom: $space-small;
  }
  &-buttons {
    display: inline-flex;
    margin-bottom: $space-small;
    .button:not(:last-child) {
      margin-right: $space-extraLarge;
    }
  }
}