.button {
  display: inline-block;
  background-color: $color-Primary-Blue;
  padding: $space-small $space-medium;
  border-radius: 40px;
  border: solid $color-Black;
  color: $color-Black;
  font-family: $font-Family-Roboto;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &-blue {
    @extend .button;
    background-color: $color-Primary-Blue;
  }
  &-pink {
    @extend .button;
    background-color: $color-Primary-Pink;
  }
  &-yellow {
    @extend .button;
    background-color: $color-Warning;
  }
  &-red {
    @extend .button;
    background-color: $color-Negative;
  }
  &-green {
    @extend .button;
    background-color: $color-Positive;
  }
}

.buttons {
  display: inline-block;
  text-align: center;
  & a, button {
    margin-right: $space-extraLarge;
  }
  & a:last-child, button:last-child {
    margin-right: 0;
  }
}