.login {
  padding: $space-medium;
  &-container {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: $space-large;
    @include container($color-Background-Container);
  }
  h2 {
    margin-bottom: $space-large;
  }
  form {
    display: flex;
    flex-flow: column;
    align-items: center;
    & > *:not(:last-child) {
      margin-bottom: $space-medium;
    }
    .input:last-of-type {
      margin-bottom: $space-large;
    }
    .button-blue {
      margin-bottom: 0;
    }
    strong {
      font-size: 18px;
      font-family: $font-Family-Roboto;
      color: $color-Negative;
    }
  }
}