.babysitters {
  padding: $space-medium;
  &-container {
    .title {
      padding: $space-medium;
      margin-bottom: $space-large;
      background-color: $color-Background-Container;
      @include container($color-Background-Elements);
    }
    .babysittersLists-container {
      height: 400px;
      display: grid;
      grid-template-columns: 35% 65%;
    }
  }
}