.review {
  padding: $space-medium;
  &-container {
    padding: $space-medium;
    @include container($color-Background-Container);
    & > h2 {
      margin-bottom: $space-small;
    }
  }
  .caption {
    margin-bottom: $space-small;
  }
  .starsRating {
    display: inline-block;
    margin-bottom: $space-small;
  }
}